/* Header de la página*/
header {
    display: flex;
    justify-content: center;
}

/* Barra de navegación */
nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    height: 50px;
    background-color: #000;
    color:#fff;
    text-align: center;
}

article:nth-of-type(1){
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 10;
}

article:nth-of-type(1) img{
    align-self: center;
    margin: 1em 1em;
}

article:nth-of-type(2){
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}

article:nth-of-type(2) h2 {
    width: 100%;
}

article:nth-of-type(2) img{
    aspect-ratio: 1/1;
    object-fit: contain;
    padding-left: 10px;
    margin-right: -10px;
    margin-bottom: 10px;
}