@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}

body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
}

/* Header de la página*/
header, h1{
    color: white;
    background-color: black;
}

h1 {
    margin: 40px;
}

/* Barra de navegación */
nav {
    background-color: darkred;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0px;
}

nav ul li {
    padding: 15px;
}

nav ul li.selected {
    border-bottom: 5px solid white;
    font-weight: bold;
}

nav ul li a:link, a:visited, a:valid{
    text-decoration: none;
    background-color: darkred;
    color: white;
}


/* Seccion de perfil */

aside {
    margin: 0.5em 0.5em 0 0.5em;
    background-color: #f9f9f9;
}

table {
    background-color: #f9f9f9;
    color: #000;
    margin-right: -0.5em;
    border-spacing: 0;
}

table th, table td {
    text-align: left;
    padding: 7px 10px;
}

table tr.tabletitle th{
    text-align: center;
    background-color: darkred;
    color: white;
    padding: 10px 10px;
}

table tr.center{
    text-align: center;
}

img {
    display: block;
    width: 300px;
}

section, article, aside{
    margin: 0.5em 0.5em 0 0.5em;
    background-color: #f9f9f9;
}

h2 {
    padding: 10px 10px;
    margin:0;
    font-size: 16px;
    background-color: darkred;
    color: white;
    font-weight: 700;
    height: 18px;
}

p {
    padding: 7px 10px;
    margin:0;
}