@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}

body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
}

/* Header de la página*/
header, h1{
    color: white;
    background-color: black;
}

h1 {
    margin: 40px;
}

/* Barra de navegación */
nav {
    background-color: darkred;
    color: white;
    padding: 15px;
}

nav a {
    padding: 7px 10px;
}

nav a:link, nav a:visited, nav a:valid{
    font-weight: bold;
    text-decoration: none;
    background-color: darkred;
    color: white;
}

nav div input{
    box-sizing: border-box;
    height: 30px;
    border-radius: 0.5em 0 0 0.5em;
    border-style: solid;
    border-right: none;
    padding: 0 1em;
    font-weight: bold;
    
}

nav div button{
    box-sizing: border-box;
    height: 30px;
    border-radius: 0 0.5em 0.5em 0;
    border: 1px black solid;
    padding: 0 1em;
    font-weight: bold;
}

nav div button:hover{
    border-color: white;
    color:white;
    background-color: grey;
}

/* Seccion de perfil */
h2 {
    padding: 10px 10px;
    margin:0;
    background-color: darkred;
    color: white;
}

p {
    padding: 7px 10px;
    font-size: 1em;
}

img {
    display: block;
    width: 300px;
}

section, article, aside{
    margin: 0.5em 0.5em 0.5em 0.5em;
    background-color: #f9f9f9;
    color: black;
}