@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
}

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2em;
    margin-inline: 1em;
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    gap: 1em;
    background-color: darkred;
    color: white;
    padding-inline: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    justify-content: center;
}

nav ul li a:link, nav ul li a:visited, nav ul li a:valid{
    text-decoration: none;
    background-color: darkred;
    color: white;
}

section {
    grid-column-start: 1;
    grid-column-end: 2;
}

section:nth-of-type(1) {
    grid-row-start: 3;
}

section:nth-of-type(2) {
    display:flex;
    flex-direction: column;
}

section:nth-of-type(2) h3 {
    text-align:center;
    width: 100%;
    background-color:  maroon;
    color: white;
    padding: 0.5em 0;
    border-radius: 1em 1em 0 0;
    margin:0px;
}

section:nth-of-type(2) p {
    text-align:center;
    width: 100%;
    background-color:  #dadada;
    color: black;
    padding: 0.8em 0;
    border-radius: 0em 0em 1em 1em;
    margin: 0px 0px 10px 0px;
}

article {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

aside {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

aside ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0.5em
}

aside ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dadada;
    color: black;
    border-radius: 0.5em;
    padding-top: 1em;
}

aside ul li img{ 
    width: 200px;
    aspect-ratio: 4/2;
    object-fit: contain;
    margin: 1em;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    background-color: #000;
    color:#fff;
    text-align: center;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

footer ul {
    display: flex;
    flex-direction:row;
    list-style: none;
    gap: 2em;
}

footer ul li a:link, footer ul li a:visited, footer ul li a:valid{
    text-decoration: none;
    background-color: black;
    color: white;
}
